  <div class="product-nav">
      <div>
        <a class="navbar-brand">Product Inventory Managment Application</a>
      </div>
      <div class="form-group col-xs-3 searchbox inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class="form-control" placeholder="Search By Product Name, Category, Sub Category." [(ngModel)]="searchText"/>
      </div>
      <div class="account">
          <h4>Hi! {{username}} 
            <div class="dropdown">
              <a class="dropbtn"><span class="spansize glyphicon glyphicon-user"></span></a>
              <div class="dropdown-content">
                <a routerLinkActive="active" routerLink="/addproduct">Add Product</a>
                <a (click)="logout()">Log Out</a>
              </div>
            </div>
          </h4>
      </div> 
  </div>

  <div class="product-result">
      <div class="products shadow p-3 mb-5 bg-white rounded" *ngFor="let product of products | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
        <img class="product-img" alt="product image" src="../../assets/images/prod.png"><hr>
          <h4 id="productname" style="color:black;margin-left: 5%;">{{product.productName}}
          <p style="float:right;margin-right:5px;display: flax;font-size: 15px;">Q - {{product.quantity}}</p>
          </h4>
          <h4 id="productprice" style="color:black;margin-left: 5%;">
            <p *ngIf="product.discount == 0">Rs. {{product.price}}</p>
            <p *ngIf="product.discount > 0">Rs. <del style="color: red;">{{product.price}}</del>
              <strong style="color:green; margin-left: 5px;">{{product.price - product.price*product.discount/100}}</strong>
              <strong style="color:red; margin-left: 5px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{product.discount}}% Discount</strong>
            </p>
          </h4>
          <button class="btn btn-primary btan" (click)="editProduct(product)" [disabled]="isSuperUser && !product.productActive">Edit</button>
          <button *ngIf="!isSuperUser && product.productActive" class="btn btn-danger btan" (click)="deActiveProduct(product)">Delete</button>
          <button *ngIf="!isSuperUser && !product.productActive" class="btn btn-success btan" (click)="activeProduct(product)">Recover</button>
      </div>
      <div class="pagination pull-left" style="clear:left;">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>